
<section class="cta" style="position: relative; padding: 200px 0 0;background-position: 50%;background-size: cover;">
    <div class="ctaDiv" style="position: relative;">
        <div class="container">
            <h2 style="font-size: 40px; max-width: 450px; margin-top: 0; margin-bottom: 25px;">
                Welcome to AuthSite Visitor Management System
            </h2>
            <button style=" border-radius : 400px; letter-spacing: 2px; text-transform:uppercase; " type="button" class="btn btn-warning">
                Check In !
            </button>
            <br />
            <div style="position : relative; padding: 100px 0; background-position: 50%; ">
                <button class="btn btn-success" style=" border-radius: 400px;">
                    <i class="material-icons">assignment_turned_in</i>
                    <span style=" position: relative; top: -7px;"> Check Out !</span>
                </button>
                <button class="btn btn-success" style=" border-radius: 400px;">
                    <i class="material-icons">autorenew </i>
                    <span style=" position: relative; top: -7px;"> Returning Client</span>
                </button>
            </div>
        </div>
    </div>
</section>